@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
* {
	 box-sizing: border-box;
}
body {
	font-family:Garamond,Georgia,serif;
	margin:0px;
	padding:0px;
}

h1 {
	font-family: Merienda, serif;
	font-size: 48px;
	color:#f9faf8;
}
.intro{
	color:#f9faf8;
	font-size:18px;
}

.container{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content:center;
}

.header{
	display: flex;
	flex-flow: row wrap;
	background-color: #1f2937;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	padding: 10px;
	}

.container-1 {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
	padding: 10px;
	width:75%;
	margin:auto;
}

.child-1 {
	padding-left:30px;
	margin-left:80px;
}

.child-2{
	line-height:1.5em;	
	text-align:left;
	width: 55%;
}

.logo{
	margin-left: 90px;
	padding-left: 40px;
}

.container-2 {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items:center;
	text-align:center;
}


.image{
   display: inline-flex;
  flex-flow: column;
	justify-content: center;
	align-items:center;
	margin:auto;
	
}

.text {
	
	width:100px;
	height:100px;
	border: 2px double black;
}

.p1 {
	display:flex;
	flex-direction:column;
	width: 35%;
}

blockquote {
background-color: #e5e7eb;
}
.quote{

width:auto;
margin: auto;

}
blockquote p {
font-size:26px;
width:75%;
margin: auto;
padding:60px;
text-align:left;
vertical-align: middle;
font-family: Verdana, Helvetica, sans-serif;
line-height: 1.6em;
font-style: italic;
color:#1f2937;
}
.author {
	display:block;
	font-weight: bold;
	font-style: normal;
	text-align:right;
	padding: 10px;
	margin-top: 5px;
}

.container-3 {
	display:flex;
	flex-flow: row wrap;
	background-color: #3882f6;
	color:#f9faf8;
	justify-content:center;
	align-items:center;
	margin:80px;
	padding: 40px;
	}



.p2 {
	display:inline-flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
	width:60%;
}
.button {
	display:inline-flex;
	justify-content:center;
	align-items:center;
}


ul{
	list-style-type:none;
	display: inline-flex;
	}


.space {
	padding:0px;
	margin-right: 80px;
}

a {
	text-decoration: none;
	color:#f9faf8;
}	

button {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}

        
#foot {
	width:100%;
	background-color: #1f2937;
	color:#f9faf8;
	text-align:center;
	font-size:10px;

}
